.storybook-text-field {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: block;
  border-radius: 5px;
  cursor: pointer;
  line-height: 1;
  width: 100%;
}

.storybook-label {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.storybook-text-field--small {
  font-size: 12px;
  padding: 2px 5px;
}

.storybook-text-field--medium {
  font-size: 14px;
  padding: 5px 10px;
}

.storybook-text-field--large {
  font-size: 16px;
  padding: 7px 15px;
}
